.navbar {
  padding: 0.5rem; /* Reduced padding for a smaller navbar */
}

.navbar-brand img {
  height: 40px; /* Reduced height of the logo */
  width: 40px; /* Reduced width of the logo */
}

.navbar-nav .nav-link {
  font-size: 14px; /* Adjusted font size for smaller text */
  margin-right: 15px; /* Reduced margin between nav links */
}

@media (max-width: 768px) {
  .navbar {
      padding: 5px 10px; /* Smaller padding for mobile */
      font-size: 12px; /* Smaller font size for mobile */
  }
}