body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  border-bottom: 1px solid white;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav .nav-link {
  color: white;
  margin-right: 20px;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.steps {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.step {
  background-color: #5a4fcf;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  position: relative;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
}

.step.active {
  background-color: #3a2fcf;
}

.step:last-child {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 10% 50%);
}

.container {
  max-width: 800px; /* Ensure this is appropriate for your layout */
  margin: 40px auto;
  background-color: transparent;
  padding: 20px; /* Ensure there's enough padding */
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative; /* Optional: if you need to position elements absolutely within this container */
}

.form-container {
  margin-bottom: 20px; /* Add space below the form container */
}

.button-container {
  text-align: right; /* Aligns the button to the right */
  margin-top: 20px; /* Adds space above the button */
  margin-bottom: 40px; /* Adds space below the button to separate from other elements */
}

.next-button {
  background-color: #5a4fcf;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px; /* Increase padding for better touch area */
  font-size: 1em; /* Ensure the font size is appropriate */
  max-width: 150px; /* Set a max width to prevent stretching */
  cursor: pointer;
}

.next-button:hover {
  background-color: #3a2fcf;
}

.image-container {
  margin-bottom: 20px; /* Add space below the image */
  text-align: center; /* Center the image if needed */
}

.room-image {
  width: 100%; /* Ensures the image takes the full width of its container */
  height: auto; /* Maintains the aspect ratio */
  max-height: 200px; /* Sets a maximum height for uniformity */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}